#wrapper{
    justify-content: center;
    width:1000px;
    margin:0 auto;
}
input{
    padding:15px;
    margin:0 auto;
    border:1px solid grey;
    border-radius: 5px;
    width:300px;
    margin:10px 0;
    font-size: 16pt;
}
input:focus{
    box-shadow: 0px 5px 3px lightseagreen;
}
.header{
    width: 1000px;
    text-align: center;
}
.main{
    max-width: 1000px;
    margin:20px;
    display: flex;
    flex-basis: 1000px;
    flex-wrap: wrap;
    text-align: center;
}
.item{
    margin:10px;
}
/* Some unique styles*/
img{
    border:1px solid lightseagreen;
    padding:5px;
    box-sizing: border-box;
}
