#wrapper{
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.header{
    display: flex;
    justify-content: center;
}
input{
    padding:25px;
    border:1px solid grey;
    border-radius: 5px;
    width:300px;
    margin:10px;
    font-size: 16pt;
}

.main{
    margin:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    margin:10px;
}
/* Some unique styles*/
img{
    border:1px solid lightseagreen;
    padding:5px;
    box-sizing: border-box;
}
.fancybox-caption{
    text-align: center!important;
    font-size:24px!important;
}
@media screen and (min-width:800px) and (max-width:3000px){
    #wrapper{
        width: 1000px;
        margin:10px auto;
    }
    input:focus{
        box-shadow: 0px 5px 3px lightseagreen;
    }
    input{
        padding:15px;
    }
}